.body_container {
    width: 100%;
    min-width: 100%;
    height: fit-content;
    background: var(--color1);
    display: flex;
    justify-content: center;
}

.body_content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.content {
    padding: 20px;
    width: 350px;
    margin: 20px 10px;
    background: none;
    border: 1px solid var(--color2);
    color: #80BFFF;
    font-family: 'Poppins';
    user-select: none;
    transition: .5s;
    border-radius: 30px;
}

.content:hover {
    transform: scale(1.01)
}

.icon {
    font-size: 25px;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    transition: .2s;
    position: relative;
}

.cart_icon {
    position: relative;
}

.cart_icon::after {
    content: 'Add';
    position: relative;
    display: block;
    font-size: 18px;
    opacity: 0;
    transition: .2s;
    font-family: 'Playfair Display';
    color: var(--color2);
}

.cart_icon:hover::after {
    opacity: 1;
    transform: translateY(5px);
}

.star_name {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.star_footer {
    display: flex;
    flex-direction: column;
}

.star_name h1 {
    font-size: 50px;
    margin-bottom: 10px;
    font-family: 'Playfair Display';
    font-weight: 500;
}

.star_image {
    display: flex;
    justify-content: center;
}

.star_image img {
    border-radius: 20px;
    margin: 10px 0px;
    object-fit: cover;
    width: 300px;
    height: 300px;
}

.star_footer h1 {
    font-family: 'Playfair Display';
    font-weight: 400;
}

.section {
    display: flex;
    flex-direction: row;
    margin: 3px 0px;
}

.section h1 {
    font-size: 23px;
}

.section h1:nth-child(1) {
    color: rgb(178, 172, 172);
}

.section h1:nth-child(2) {
    margin-left: 15px;
    width: fit-content;
}

@media only screen and (max-width: 992px) {
    .body_content {
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {

    .content {
        width: 180px;
        margin: 10px 5px;
    }

    .star_name h1 {
        font-size: 30px;
    }

    .section h1 {
        font-size: 15px;
    }

    .star_image img {
        width: 120px;
        height: 120px;
    }

    .cart_icon:hover::after {
        opacity: 0;
    }
}