.body_container {
    width: 100%;
    min-width: 100%;
    height: fit-content;
    background: var(--color1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filters {
    display: flex;
    justify-content: center;
    width: 100%;
    height: fit-content;
    padding: 30px;
    flex-direction: column;
    align-items: center;
}

.filters h1 {
    color: white;
    font-family: 'Playfair Display';
    font-weight: 200;
}

.filters_circle {
    display: flex;
    justify-content: center;
    color: white;
    font-family: 'Playfair Display';
    margin-top: 50px;
}

.filters_planet {
    font-size: 2vw;
    border-radius: 50%;
    margin: 0px 10px;
    position: relative;
    transition: .2s;
}

.filters_planet::after {
    content: '';
    width: 0px;
    height: 2px;
    position: absolute;
    display: block;
    transition: .2s;
    background: var(--color2);
}

.filters_planet:hover::after {
    width: 100%;
}

#star {
    color: #f2d94c;
}

#planet {
    color: #865e13;
}

#habitable {
    color: #179329;
}

#non-habitable {
    color: #e13004;
}

#all {
    color: var(--color2)
}

.filters_planet:hover {
    cursor: pointer;
}

.filters_bar {
    display: flex;
    margin-top: 20px;
    text-align: center;
    font-family: 'Playfair Display';
    font-size: 3vw;
    color: var(--color2);
}

.filters_bar section {
    margin: 10px;
}

.body_content {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.content {
    padding: 20px;
    width: 230px;
    margin: 20px 10px;
    background: none;
    border: 1px solid var(--color2);
    color: #80BFFF;
    font-family: 'Poppins';
    user-select: none;
    transition: .2s;
    border-radius: 30px;
}

.content:hover {
    box-shadow: 2px 2px 2px var(--color2);
}

.icon {
    font-size: 20px;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    transition: .2s;
    position: relative;
    color: green;
}

.cart_icon {
    position: relative;
    z-index: 1;
}

.cart_icon::after {
    content: 'Add';
    position: relative;
    display: block;
    font-size: 18px;
    opacity: 0;
    transition: .2s;
    font-family: 'Playfair Display';
    color: var(--color2);
}

.cart_icon:hover::after {
    opacity: 1;
    transform: translateY(5px);
}

.star_name {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.star_footer {
    display: flex;
    flex-direction: column;
}

.star_name h1 {
    font-size: 25px;
    margin-bottom: 10px;
    font-family: 'Playfair Display';
    font-weight: 500;
}

.star_image {
    display: flex;
    justify-content: center;
}

.star_image img {
    border-radius: 20px;
    margin: 10px 0px;
    object-fit: cover;
    width: 200px;
    height: 200px;
}

.star_footer h1 {
    font-family: 'Playfair Display';
    font-weight: 400;
}

.section {
    display: flex;
    flex-direction: row;
    margin: 3px 0px;
}

.section h1 {
    font-size: 18px;
}

.section h1:nth-child(1) {
    color: rgb(178, 172, 172);
}

.section h1:nth-child(2) {
    margin-left: 15px;
    width: fit-content;
}

@media only screen and (max-width: 992px) {
    .body_content {
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {

    .filters_planet {
        font-size: 4vw;
        margin: 0px 5px;
    }

    .content {
        width: 180px;
        margin: 10px 5px;
    }

    .star_name h1 {
        font-size: 30px;
    }

    .section h1 {
        font-size: 15px;
    }

    .star_image img {
        width: 120px;
        height: 120px;
    }

    .cart_icon:hover::after {
        opacity: 0;
    }
}