.cart_container {
    width: 100%;
    min-width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background: #041d38;
}

.cart_content {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart_item {
    background: #033264;
    box-shadow: 5px 5px 5px black;
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: fit-content;
    justify-content: space-between;
    padding: 30px;
    margin: 10px 0px;
    border-radius: 20px;
}

.cart_header {
    display: flex;
    flex-direction: row;
}

.item_image img {
    width: 100px;
    height: 100px;
    border-radius: 20px;
    margin-left: 40px;
}

.item_description {
    margin-left: 20px;
    color: #80BFFF;
}

.item_description h1 {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 18px;
}

.cart_footer {
    margin-right: 30px;
}

.remove_button {
    font-size: 25px;
    font-family: 'Poppins';
    border: none;
    background: rgb(43, 111, 237);
    padding: 10px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.remove_button:hover {
    opacity: .7;
}

.cart_total {
    margin-top: 5px;
}

.cart_total h1 {
    color: #80BFFF;
    text-align: center;
    font-family: 'Poppins';
}

.cart_total h1:nth-child(2) {
    background: #033264;
    border-radius: 5px;
    font-size: 35px;
}

@media only screen and (max-width: 991px) {
    .cart_content {
        width: 100%;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
    }

    .wrapper {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .cart_item {
        flex-direction: column;
        width: 300px;
        margin: 20px;
    }

    .cart_header {
        flex-direction: column;
    }
}