.header_container {
    width: 100vw;
    max-width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #01152A;
}

.header_content {
    width: 80%;
    text-align: center;
}

.header_content h1 {
    text-align: center;
    color: white;
    font-family: 'Poppins';
    font-weight: 300;
    padding: 30px;
}

.header_content h1 span {
    color: #80BFFF;
}