.navbar_container {
    background: var(--color1);
    width: 100%;
    min-width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
}

.navbar_content {
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo h1 {
    font-size: 43px;
    color: #80BFFF;
    font-family: 'Playfair Display';
    font-weight: 500;
    position: relative;
    transition: .2s;
}

.logo h1::after {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    content: '';
    width: 0px;
    height: 3px;
    background-color: var(--color2);
    transition: .2s;
}

.logo h1:hover::after {
    width: 100%;
}

.logo h1:hover {
    color: var(--color2);
}

.cart {
    align-items: center;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    position: relative;
}

.navbar_cart {
    color: white;
    font-size: 25px;
    cursor: pointer;
    transition: .5s;
    position: relative;
}

.cart::after {
    content: 'Cart';
    position: relative;
    font-size: 20px;
    font-family: 'Playfair Display';
    display: block;
    color: var(--color2);
    opacity: 0;
    transition: .2s;
}

.cart:hover::after {
    opacity: 1;
    transform: translateX(5px);
}

.cart h1 {
    color: white;
    font-size: 20px;
}

.cart_dropdown {
    z-index: 10;
    transition: .5s;
    background: #001f3f;
    width: 50px;
    position: relative;
    height: fit-content;
    top: 60px;
    right: 50px;
}

.end {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.profile {
    color: var(--color2);
    position: relative;
    font-size: 35px;
    cursor: pointer;
    z-index: 20;
}

.login_navbar {
    position: relative;
    cursor: pointer;
}

.login_navbar::after {
    position: absolute;
    top: 0;
    content: '';
    display: block;
    border-radius: 50%;
    width: 33px;
    height: 33px;
    background: none;
    transition: .2s;
    border: 1px solid none;
}

.login_navbar:hover::after {
    transform: scale(1.2);
    border: 1px solid var(--color2);
}

.login_navbar::before {
    position: absolute;
    transform: translate(-8px, 40px);
    bottom: 0;
    display: block;
    font-size: 20px;
    color: var(--color2);
    opacity: 0;
    transition: .2s;
    font-family: 'Playfair Display';
}

.login_navbar:hover::before {
    opacity: 1;
}

.login::before {
    content: 'Login';
}

.logout::before {
    content: 'Logout';
}

.logout {
    margin-right: 20px;
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 991px) {
    .navbar_content {
        width: 100%;
        justify-content: space-around;
    }

    .logo h1 {
        font-size: 35px;
        margin-left: 5px;
    }

    .cart {
        margin-right: 10px;
    }
}