.login_container {
    width: 100%;
    min-width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
}

.login_content {
    display: flex;
    width: 70%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.login_head h1 {
    margin: 40px 0px;
    color: #80BFFF;
    font-family: 'Playfair Display';
    font-weight: 300;
    text-align: center;
}

.login_head h1 span {
    color: var(--color2);
}

.google_login {
    font-family: 'Playfair Display';
    font-size: 30px;
    padding: 10px 15px;
    border-radius: 10px;
    background: none;
    border: none;
    color: #80BFFF;
    cursor: pointer;
    transition: .2s;
    position: relative;
}

.google_login::after {
    content: '';
    width: 0px;
    height: 2px;
    background: var(--color2);
    position: relative;
    display: block;
    transition: .2s;
}

.google_login:hover::after {
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .login_content {
        width: 95%;
    }
}